/* ANIMATIONS START */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-12rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(12rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(12rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    /* transform: scale(0.9); */
    opacity: 0;
  }
  100% {
    /* transform: scale(1); */
    opacity: 1;
  }
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
/* ANIMATIONS END */

/* //////////////////////////////////////////// */
/* HOME STYLE */
/* spinner */
.loader-box {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-self: center;
  color: #e0d6cc;
  font-size: 1.8rem;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 2.4rem;
}
.loader {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #e0d6cc 94%, #0000) top/0.8rem
      0.8rem no-repeat,
    conic-gradient(#0000 30%, #e0d6cc);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 0.8rem), #000 0);
  animation: l13 1s infinite linear;
}

/* .loader {
  width: 2.5rem;
  aspect-ratio: 1;
  display: grid;
  animation: l14 4s infinite;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border: 0.5rem solid;
  border-radius: 50%;
  border-color: hsla(7, 77%, 59%) hsla(7, 77%, 59%) #ffffffd5 #ffffffd5;
  mix-blend-mode: darken;
  animation: l14 1s infinite linear;
}
.loader::after {
  border-color: #ffffffd5 #ffffffd5 hsla(251, 68%, 45%) hsla(251, 68%, 45%);
  animation-direction: reverse;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto";
}

body {
  min-height: max-content;
}

.container {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: 0.5rem;
  min-height: 100vh;
  width: 100%;

  /* background: hsla(146, 39%, 53%, 0.6); */

  background: linear-gradient(
      135deg,
      hsla(146, 39%, 53%, 0.5) 0%,
      hsla(266, 62%, 68%, 0.5) 50%,
      hsla(265, 68%, 45%, 0.5) 100%
    ),
    url(../img/weatherClues-bg-medium.jpg);

  background: -moz-linear-gradient(
      135deg,
      hsla(146, 39%, 53%, 0.5) 0%,
      hsla(266, 62%, 68%, 0.5) 50%,
      hsla(265, 68%, 45%, 0.5) 100%
    ),
    url(../img/weatherClues-bg-medium.jpg);

  background: -webkit-linear-gradient(
      135deg,
      hsla(146, 39%, 53%, 0.5) 0%,
      hsla(266, 62%, 68%, 0.5) 50%,
      hsla(265, 68%, 45%, 0.5) 100%
    ),
    url(../img/weatherClues-bg-medium.jpg);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#58b580", endColorstr="#a67be0", GradientType=.6 );

  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 10rem;
  padding-bottom: 1rem;
  position: relative;
}

.header {
  display: grid;
  gap: 2rem;
  grid-template-rows: 3vw max-content;
  grid-template-columns: max-content 2fr 1fr;
  margin-top: 1rem;
  grid-column: 1/-1;
  animation: fadeIn 1.5s ease-in-out;
}

.logo {
  vertical-align: middle;
  color: rgb(241, 100, 5);
  backface-visibility: hidden;
}

.logo > i {
  width: auto;
  font-size: 3.2rem;
}

.logo h1 {
  display: inline-block;
  font-size: 3.2rem;
  font-family: "Playfair Display";
}

.search-bar {
  grid-column: 1/-1;
  grid-row: 2/-1;
  align-self: end;
  justify-self: center;
  width: 50%;
  z-index: 500;
}

.overlay,
.detail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 300;
}

.search__field {
  color: #667;
  border: none;
  font-size: 2.5rem;
  width: 90%;
  outline: none;
  padding: 1rem;
  background-color: #ffd;
}

.search__field::-webkit-search-cancel-button {
  position: relative;
  cursor: pointer;
  height: 2.7rem;
  width: 1.8rem;
  opacity: 0.55;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/regular/times.svg)
    no-repeat 50% 50%;
  -webkit-appearance: none;
  transition: all 0.3s;
}

.search-bar input::placeholder {
  font-size: 1.8rem;
  color: #aaaaaa75;
}

.search-bar__content {
  border-radius: 0.5rem;
  height: 5rem;
  background-color: #ffd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 12px 21px -6px #232323;
  -webkit-box-shadow: 2px 12px 21px -6px #232323;
  -moz-box-shadow: 2px 12px 21px -6px #232323;
}

.search-bar__content form {
  flex-grow: 2;
}

.search-bar__content i {
  font-size: 2.3rem;
  color: #001201;
  margin: auto 1rem;
  -webkit-text-stroke: 2px #ffd;
}

.search-bar a {
  text-decoration: none;
}

.current-location {
  border-radius: 0 0 0.5rem 0.5rem;
  display: flex;
  height: 5rem;
  background-color: #ffd;
  border-top: 0.3rem solid orangered;
  box-shadow: 2px 12px 21px -6px #232323;
  -webkit-box-shadow: 2px 12px 21px -6px #232323;
  -moz-box-shadow: 2px 12px 21px -6px #232323;
  transition: all 0.3s;
}

.current-location:hover {
  cursor: pointer;
  background-color: #ddd;
}

.current-location > i {
  font-size: 2rem;
  color: orangered;
  margin: auto 2rem;
}

.current-location p {
  color: #667;
  font-size: 2.2rem;
  margin: auto 0;
}

.hidden {
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

.main {
  margin: 0 auto;
  color: #ddd;
  width: 55%;
}

/* .top-locations {
  animation: moveInRight 1.3s ease-out;
}

.recent-locations {
  animation: moveInLeft 1.3s ease-in-out;
} */

.recent-locations,
.top-locations {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.recent-locations {
  min-height: 18rem;
}

.location-info-card {
  position: relative;
  text-decoration: none;
  color: #ddd;
  perspective: 100rem;
  -moz-perspective: 100rem;
}

.location-info-card__side {
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 1.5rem;
  width: 100%;
  height: 18rem;
  border-radius: 0.5rem;
  transition: all 0.6s;
  backface-visibility: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.location-info-card__side--back {
  font-family: "Playfair Display";
  transform: rotateY(-180deg);
  position: absolute;
  top: 0;
  color: #eff;
  background: hsla(155, 11%, 54%, 1);

  background: linear-gradient(
    315deg,
    hsla(155, 11%, 54%, 1) 0%,
    hsla(302, 17%, 32%, 1) 100%
  );

  background: -moz-linear-gradient(
    315deg,
    hsla(155, 11%, 54%, 1) 0%,
    hsla(302, 17%, 32%, 1) 100%
  );

  background: -webkit-linear-gradient(
    315deg,
    hsla(155, 11%, 54%, 1) 0%,
    hsla(302, 17%, 32%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#7C968B", endColorstr="#5e435d", GradientType=1 );
}

.location-info-card:hover .location-info-card__side--front {
  transform: rotateY(180deg);
}

.location-info-card:hover .location-info-card__side--back {
  transform: rotateY(0);
}

.move-in-bottom {
  animation: moveInBottom 1.3s ease-in-out;
}

/* .move-in-right {
  animation: moveInRight 1.3s ease-in-out;
}

.move-in-left {
  animation: moveInLeft 1.3s ease-in-out;
} */

.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

.section__heading:not(:first-of-type) {
  margin-top: 1.5rem;
}

.section__heading {
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #ffffff;
  letter-spacing: 1px;
}

.city {
  font-size: 2.3rem;
  letter-spacing: 1px;
}

.country {
  font-size: 1.4rem;
  margin: 0.5rem 0 1rem 0;
}

.place {
  padding-bottom: 0.5rem;
  border-bottom: 3px double rgba(238, 255, 255, 0.37);
}

.place h4 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0;
}

.brief-detail {
  margin-top: 1.3rem;
  font-size: 1.3rem;
  font-weight: 300;
}

.brief-detail * {
  margin-bottom: 1.2rem;
}

.temperature i {
  font-size: 3rem;
  color: transparent;
  margin-right: 1rem;
  -webkit-text-stroke: 1.2px #ddd;
}

.temperature p {
  display: inline-block;
  font-size: 3.6rem;
}

.temperature p span {
  opacity: 0.7;
  font-size: 1.4rem;
  position: relative;
  left: -1rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 80em) {
  html {
    font-size: 50%;
  }

  .search-bar__content i {
    font-size: 2.8rem;
  }

  .loader-box {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .logo {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

@media only screen and (max-width: 64em) {
  .section__heading:first-of-type {
    margin-top: 2.5rem;
  }

  .section__heading:not(:first-of-type) {
    margin-top: 6rem;
  }

  .section__heading {
    font-size: 1.8rem;
  }

  body {
    height: auto;
  }
}

@media only screen and (max-width: 62.5em) {
  .main {
    width: 70%;
  }
}

@media only screen and (max-width: 60em) {
  html {
    font-size: 42%;
  }

  .search-bar__content,
  .current-location {
    height: 6.5rem;
  }

  .search-bar__content i {
    font-size: 3.2rem;
  }

  .search-bar input::placeholder {
    font-size: 2.3rem;
  }

  .recent-locations,
  .top-locations {
    width: 100%;
  }

  .loader-box {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 53.2em) {
  .main {
    width: 80%;
  }

  .recent-locations,
  .top-locations {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 90%;
    margin: auto;
  }

  .location-info-card__side {
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
    height: auto;
    box-shadow: none;
    border-radius: 0;
    background: none;
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
  }

  .location-info-card__side--back {
    font-family: "Roboto";
    transform: rotateY(0);
    position: relative;
    display: block;
    padding-top: 0;
  }

  .location-info-card {
    color: #ddd;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  .location-info-card__side--front {
    padding-bottom: 0;
  }

  .location-info-card:hover .location-info-card__side--front {
    transform: rotateY(0);
  }

  .place {
    display: none;
  }

  .brief-detail {
    border-top: 3px double #ddd;
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: 2.4rem;
    font-weight: 300;
    padding-top: 1rem;
  }

  .brief-detail * {
    padding-right: 1rem;
  }

  .country {
    margin: 0;
    margin-left: 0.7rem;
    margin-bottom: -0.5rem;
    font-size: 2.3rem;
  }

  .city {
    font-size: 3rem;
  }

  .city::after {
    content: ",";
  }

  .temperature {
    margin-left: auto;
  }

  .loader-box {
    margin-top: 10rem;
  }

  .search-bar {
    margin-top: 10rem;
    width: 70%;
  }
}

@media only screen and (max-width: 46.6em) {
  .container {
    padding: 0 5rem;
  }

  .logo {
    flex-basis: 40%;
  }

  .search-bar {
    flex-basis: 55%;
  }

  .location-info-card__side {
    padding: 1rem 2rem;
  }

  .location-info-card__side--front {
    padding-bottom: 0;
  }

  .section__heading {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 40em) {
  .container {
    background: linear-gradient(
        to top right,
        rgba(110, 110, 212, 0.48),
        rgba(92, 65, 190, 0.48)
      ),
      url(../img/weatherClues-bg-small.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  .brief-detail {
    display: flex;
    flex-direction: column;
    font-size: 2.6rem;
  }

  .section__heading {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 36.6em) {
  .city {
    letter-spacing: 0;
    font-size: 4rem;
  }

  .search-bar__content,
  .current-location {
    height: 5.8rem;
  }
}

@media only screen and (max-width: 34.4em) {
  .main {
    width: 90%;
  }
}

@media only screen and (max-width: 31.25em) {
  .city {
    font-size: 2.6rem;
  }

  .country {
    font-size: 2.2rem;
  }

  .temperature i {
    font-size: 2.5rem;
  }

  .temperature p {
    font-size: 3rem;
  }

  .temperature p span {
    font-size: 1.2rem;
  }

  .brief-detail {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 28.15em) {
  .main {
    width: 93%;
  }

  .section__heading {
    font-size: 2.2rem;
  }

  .container {
    padding: 0 3rem;
  }

  .country {
    font-size: 2.6rem;
  }
}

@media only screen and (max-width: 25em) {
  .main {
    width: 100%;
  }

  .city {
    font-size: 2.2rem;
  }

  .country {
    font-size: 1.9rem;
  }

  .temperature i {
    font-size: 2.1rem;
  }

  .temperature p {
    font-size: 2.6rem;
  }

  .temperature p span {
    font-size: 0.9rem;
  }

  .brief-detail {
    font-size: 2rem;
  }

  .search-bar {
    width: 80%;
  }

  .search-bar__content,
  .current-location {
    height: 5.4rem;
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 60em),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 60em),
  (min-width: 133.33em) {
  .container {
    background: linear-gradient(
        to top right,
        rgba(110, 110, 212, 0.48),
        rgba(92, 65, 190, 0.48)
      ),
      url(../img/weatherClues-bg-large.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
}

@media only screen and (min-width: 106.6em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (min-width: 133.33em) {
  html {
    font-size: 87.5%;
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 166.6em),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 166.6em) {
  html {
    font-size: 100%;
  }

  .container {
    background: linear-gradient(
        to top right,
        rgba(110, 110, 212, 0.48),
        rgba(72, 66, 92, 0.48)
      ),
      url(../img/weatherClues-bg-x_large.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
}

/* ///////////////////////////////////////////////////// */
/* DETAIL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.detail-main {
  min-height: max-content;
  min-width: 100vw;

  /* margin-bottom: 6rem; */

  padding-bottom: 1rem;

  background: hsla(197, 14%, 57%, 0.8);

  background: linear-gradient(
    135deg,
    hsla(197, 14%, 57%, 0.8) 0%,
    hsla(20, 18%, 87%, 0.8) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(197, 14%, 57%, 0.8) 0%,
    hsla(20, 18%, 87%, 0.8) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(197, 14%, 57%, 0.8) 0%,
    hsla(20, 18%, 87%, 0.8) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8399a2", endColorstr="#E4DCD8", GradientType=1 );
}

.detail-header {
  padding: 0 20rem;
  position: sticky;
  top: 0;
  background-color: rgb(6, 16, 49);
  display: flex;
  align-items: center;
  height: 10vh;
  color: #ffd;
  vertical-align: middle;
  z-index: 10;
}

.detail-logo {
  flex-basis: max-content;
}

.detail-header h1 {
  display: inline-block;
  font-size: 2.8rem;
  color: rgb(255, 136, 0);
  letter-spacing: 1px;
}

.detail-logo > i {
  color: rgb(255, 136, 0);
  width: auto;
  font-size: 3rem;
}

.detail-header .detail-location {
  margin-left: 4rem;
  flex-basis: max-content;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
}

.detail-location h4 span,
.detail-temperature p span {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-left: -0.4rem;
}

.detail-location i {
  font-size: 2.7rem;
  margin-left: 1.5rem;
  color: transparent;
  -webkit-text-stroke: 0.3px #fff;
}

.detail-search-bar-mobile {
  display: none;
  visibility: hidden;
}

.detail-search-bar,
.detail-search-bar-mobile {
  position: relative;
  width: 25vw;
  margin-left: auto;
  z-index: 10;
}

.detail-search-bar__content,
.detail-search-bar__content-mobile {
  border-radius: 0.5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.detail-search-bar__content form,
.detail-search-bar__content-mobile form {
  flex-grow: 2;
}

.detail-search-bar__content > i,
.detail-search-bar__content-mobile > i {
  font-size: 2.2rem;
  color: #001201;
  margin: auto 1rem;
  -webkit-text-stroke: 2.2px #fff;
}

.detail-search-bar input,
.detail-search-bar-mobile input {
  color: #000;
  border: none;
  font-size: 1.5rem;
  height: 4rem;
  width: 90%;
  outline: none;
  padding: 1rem;
  background-color: #fff;
}

.detail-search input::-webkit-search-cancel-button,
.detail-search-mobile input::-webkit-search-cancel-button {
  position: relative;
  cursor: pointer;
  height: 2.3rem;
  width: 1.5rem;
  opacity: 0.55;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/regular/times.svg)
    no-repeat 50% 50%;
  -webkit-appearance: none;
  transition: all 0.3s;
}

.detail-search-bar input::placeholder {
  font-size: 1.5rem;
  color: #aaaaaa75;
  /* opacity: 0.9; */
}

.detail-location-tabs,
.detail-location-tabs-mobile {
  position: absolute;
  top: 4rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  width: 100%;
  background-color: #fffffff3;
  transition: all 0.3s;
  box-shadow: 2px 12px 21px -6px #232323;
  -webkit-box-shadow: 2px 12px 21px -6px #232323;
  -moz-box-shadow: 2px 12px 21px -6px #232323;
}

.detail-location-tab,
.detail-location-tab-mobile {
  width: 100%;
  color: #000;
  display: flex;
  padding: 2rem 1.3rem;
  text-decoration: none;
}

.detail-location__current,
.detail-location__current-mobile {
  display: flex;
  background-color: #efeff5;
}

.detail-location__current:hover,
.detail-location__recent:hover .detail-place:first-child,
.detail-location__current-mobile:hover,
.detail-location__recent-mobile:hover .detail-place:first-child {
  color: #e23737;
}

.detail-place > span > i {
  font-size: 2.2rem;
  color: #000;
  transform: translateY(0.2rem) rotate(-17deg);
}

.detail-place p {
  display: inline-block;
}

.detail-place {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.detail-place span p {
  font-size: 1.55rem;
  margin-left: 0.3rem;
}

.detail-place > p:nth-of-type(1) {
  font-size: 2rem;
}

.detail-place > p:nth-of-type(2) {
  margin-top: -2px;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.521);
}

.detail-temperature {
  margin-left: auto;
  align-self: center;
}

.detail-temperature p {
  display: inline-block;
  margin-left: 3rem;
  font-size: 2.8rem;
}

.detail-temperature i {
  font-size: 2.5rem;
  color: transparent;
  -webkit-text-stroke: 0.7px #999;
}

.detail-temperature p span {
  font-size: 1.3rem;
  margin-left: -0.8rem;
}

.detail-recent-heading {
  font-weight: normal;
  color: #777;
  font-size: 1.3rem;
  margin: 2rem auto 0.7rem 1rem;
}

.detail-location__recent {
  border-top: 1px solid rgba(138, 138, 138, 0.356);
}

.detail-hidden {
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
}

.mobile-navigation {
  position: absolute;
  right: 1rem;
  top: -2rem;
  z-index: 200;
  visibility: hidden;
}

.mobile-navigation__background {
  background: rgb(6, 16, 49);

  background: radial-gradient(circle, rgb(26, 50, 87) 0%, rgb(6, 16, 49) 100%);

  background: -moz-radial-gradient(
    circle,
    rgb(26, 50, 87) 0%,
    rgb(6, 16, 49) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    rgb(26, 50, 87) 0%,
    rgb(6, 16, 49) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F8FAFA", endColorstr="#D3D8E1", GradientType=1 );
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  margin-right: -1rem;
  z-index: 10;
  transition: all 0.5s;
}

.mobile-navigation__checkbox {
  display: none;
}

.mobile-navigation__button {
  width: 4rem;
  height: 3.5rem;
  position: fixed;
  top: 1.3rem;
  right: 2rem;
  border-radius: 15%;
  z-index: 20;
  text-align: center;
}

.mobile-navigation__button:hover {
  cursor: pointer;
}

.mobile-navigation__checkbox:checked ~ .mobile-navigation__background {
  width: 30rem;
  margin-right: 0;
}

.mobile-navigation__checkbox:checked ~ .detail-search-bar-mobile {
  display: inline-block;
  visibility: visible;
}

.mobile-navigation__checkbox:checked ~ .mobile-navigation__nav {
  opacity: 1;
  visibility: visible;
}

.mobile-navigation__icon {
  position: relative;
  margin-top: 1.5rem;
  width: 2.3rem;
}

.mobile-navigation__icon,
.mobile-navigation__icon::before,
.mobile-navigation__icon::after {
  height: 2px;
  text-align: left;
  background-color: hsla(180, 11%, 91%, 1);
  display: inline-block;
  right: 0;
}

.mobile-navigation__icon::before,
.mobile-navigation__icon::after {
  content: "";
  position: absolute;
  transition: all 0.2s;
}

.mobile-navigation__icon::before {
  width: 2.7rem;
  top: -0.8rem;
}

.mobile-navigation__icon::after {
  text-align: left;
  width: 2rem;
  top: 0.8rem;
}

.mobile-navigation__checkbox:checked
  + .mobile-navigation__button
  .mobile-navigation__icon {
  background-color: transparent;
  width: 2.7rem;
}

.mobile-navigation__checkbox:checked
  + .mobile-navigation__button
  .mobile-navigation__icon::before {
  transform: rotate(135deg);
  top: 0;
}

.mobile-navigation__checkbox:checked
  + .mobile-navigation__button
  .mobile-navigation__icon::after {
  transform: rotate(-135deg);
  top: 0;
  width: 2.7rem;
}

.nav-bar {
  width: 70vw;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.nav-bar__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-bar__list--item {
  text-align: center;
  line-height: 8vh;
  border-bottom: 0.5px solid #444;
}

.nav-bar__list--link-first,
.nav-bar__list--link-other {
  flex-basis: calc(70vw / 4);
  text-decoration: none;
  color: #444;
  font-size: 1.8rem;
  transition: all 0.4s;
}

.nav-bar__list--link-first:hover,
.nav-bar__list--link-other:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* .nav-bar__list--link-first:link,
.nav-bar__list--link-other:link {
  border-bottom: 0.5px solid #444;
} */

/* .nav-bar__list--link-first:focus,
.nav-bar__list--link-other:focus {
  background: #918b8b;
  color: #fbfbff;
  border-bottom: 0.5px solid #e23737;
} */

.active {
  background: #918b8b;
  color: #fbfbff;
  border-bottom: 0.5px solid #e23737;
}

.weather-card {
  margin-bottom: 2rem !important;
}

.weather-date,
.weather-card {
  background-color: #fbfbff;
  margin: 0 auto;
  padding: 2.3rem 1.2rem;
  width: 70%;
}

.weather-date {
  border-bottom: 0.5px solid #444;
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 400;
  text-align: center;
  padding: 3vh 0;
  margin-bottom: 2rem;
  background-color: inherit;
}

.weather-card__header--title {
  color: #222;
  padding: 0 1.5rem 1.6rem;
  border-bottom: 0.5px solid #8886;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-card__header--title h2 {
  font-size: 2rem;
  font-weight: 400;
}

.weather-card__header--title p {
  font-size: 1.6rem;
}

.weather-card__header--content {
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.weather-card__header--content {
  font-size: 6rem;
}

.weather-card__header--content i {
  color: transparent;
  -webkit-text-stroke: 1.6px #999;
}

.weather-card__header--content p span {
  font-size: 3.3rem;
  font-weight: 300;
  color: #999;
  position: relative;
  left: -2.2rem;
}

.weather-card__content {
  padding: 2rem 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.weather-card__content--item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid #8886;
  list-style: none;
  font-size: 2rem;
  color: #222;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 86.66em) {
  .detail-header {
    padding: 0 15rem;
  }

  .detail-main {
    padding: 0 15rem 4rem;
  }
}

@media only screen and (max-width: 76.66em) {
  .detail-header {
    padding: 0 10rem;
  }
}

@media only screen and (max-width: 66.66em) {
  .detail-body {
    font-size: 55%;
  }

  .detail-header {
    padding: 0 5rem;
  }

  .detail-search-bar__content > i {
    font-size: 2.5rem;
  }

  .detail-main {
    padding: 0 3rem 3rem;
  }
}

@media only screen and (max-width: 57em) {
  .detail-body {
    font-size: 50%;
  }

  .detail-main {
    padding: 0 0 3rem;
  }
}

@media only screen and (max-width: 47em) {
  .detail-main {
    min-width: 100vw;
  }

  .weather-card {
    width: 90%;
  }
}

@media only screen and (max-width: 42.5em) {
  .nav-bar {
    width: 100vw;
    padding: 0 3rem;
  }

  .nav-bar__list--link-first,
  .nav-bar__list--link-other {
    flex-basis: calc(100vw / 4);
    font-size: 1.6rem;
  }

  .detail-header {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .mobile-navigation {
    visibility: visible;
  }

  .detail-search-bar {
    visibility: hidden;
  }

  .detail-search-bar-mobile {
    top: 10rem;
    right: 2rem;
  }
}

@media only screen and (max-width: 28.13em) {
  .nav-bar {
    padding: 0;
  }
}

@media only screen and (min-width: 106.6em) {
  .detail-body {
    font-size: 75%;
  }
}
@media only screen and (min-width: 133.33em) {
  .detail-body {
    font-size: 87.5%;
  }
}
